/*CSS Style here*/
header {
    background-color: #aaf2f6;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: 2px solid black;
}

.masterBox {
    background-image: url('PlantImages/masterclassbg.png');
    padding: 10px 12px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.column {
    float: left;
    width: 30%;
    padding: 10px 12px;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#nameForm {
    padding-top: 15px;
    padding-bottom: 15px;
}

#addPlantSection {
    display: none;
    background-color: #bd9e6d;
    padding: 10px 12px;
    margin-left: 100px;
    border: 2px solid black;
    border-radius: 8px;
}

#addPlant {
    margin-top: 20px;
}

#waterCalc {
    background-color: #bd9e6d;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px 12px;
    float: right;
}

#plantListSection {
    background-color: #bd9e6d;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px 12px;
}

#divider {
    text-align: center;
}

button {
    background-color: #aaf2f6;
    border: none;
    border-radius: 8px;
    color:#94654f;
    padding: 10px 20px;
}

body {
    background-color: #94654f;
    padding: 12px;
}

footer {
    background-color: #aaf2f6;
    border-top: 2px solid black;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    margin-left: 0px;
    margin-right: 0px;
}
